.container {
    box-sizing: border-box;
    margin: 1% auto;
    padding: 1%;
    width: 100%;
}

.fieldset {
    box-sizing: border-box;
    margin: 1% auto;
    padding: 1%;
    text-align: left;
}
