* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.headerImage, .footerImage {
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    padding: 0;
    width: 100%;
}

.footerContainer {
    bottom: 0;
    margin: 3% auto 0 auto;
    position: relative;
}

.content {
    flex: 1 auto;
    height: auto;
    margin: 1% auto;
    width: 100%;
}
